
DIV.head { background-color: #808080; margin: 0; border: 0; padding: 0; font-size: xx-large; font-weight: bold }

TH.head { background-color: #808080 }

TH.alt { background-color: #eeeeee }
TD.alt { background-color: #eeeeee }
